.header {
  display: flex;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    height: 50px;
  }
}


@media (min-width: 481px) and (max-width: 480px) {
  .header {
    height: 50px;
  }
}


@media (min-width: 481px) and (max-width: 480px) {
  .header {
    height: 50px;
  }
}